[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=FatRat-Mobile
Exec=/usr/bin/invoker --type=d -s /opt/FatRat-Mobile/bin/FatRat-Mobile
Icon=/usr/share/icons/hicolor/80x80/apps/FatRat-Mobile80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
